<include file="Fanheo/fanheo_header" title="我的地址" keywords="fanheo饭盒网-我的菜单"/>
</head>
<style>
.btn_common{
    font-size:12px;
    padding: 5px 8px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    background-color: #2ec366;
    color: #fff;
}
.dish_item textarea{
    padding: 8px;
    background: #eaeaea;
    border-radius: 12px;
    border: 1px solid #dedede;
    outline: none;
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-shadow: none;
    display:none;
}
.dish_item{
    height:45px!important;
}
.dish_item.on{
    height:97px!important;
} 
.dish_item.on textarea{
    margin-top:3px;
    display:block;
}
</style>
<script type="text/javascript" src="__JS__/admin_common.js?v={:SITE_VERSION}"></script>
<body id="page_intelOrder" class="myOrderCon">
<div class="container">
<section style="margin-bottom:10px;">
    <article>
        <h2>我的地址
            <button class="btn_add" onclick="location.href = '{:U('logout', array('token'=>$token, 'wecha_id'=>$wecha_id))}'">退出登录</button>
        </h2>
        <ul id="myorder" class="myorder">
	        <volist name="my_dish" id="dish">
	        <li class="dish_item">                    
		        <span class="dishName">{$dish['name']}</span>                    
		        <i>{$dish['price']}元/份</i>                    
		        <!-- <span class="btn_common" onclick="slideOn(this, event);">添加备注</span>    -->                 
		        <div><textarea name="description" class="des" did="{$dish['id']}" id="des_{$dish['id']}">{$dish['des']}</textarea></div>                    
		        <section class="bbox" dishname="{$dish['name']}" onclick="changeCount(this, event, '{$dish['price']}', '{$dish['id']}');">                        
		        <input class="btn-reduce" type="button" value="-">                        
		        <input class="numBox" name="numBox" type="text" value="{$dish['nums']}" price="{$dish['price']}" did="{$dish['id']}" readonly="readonly">                        
		        <input type="button" class="btn-plus" value="+" >              
		        </section>                    
	        </li>
	        </volist>
        </ul>
    </article>
</section>
<section style="margin-bottom:80px;">
    <article>
        <form id="form_dish" action="{:U('saveMyOrder', array('token'=>$token, 'wecha_id'=>$wecha_id, 'cid'=>$cid))}" method="post">

            <table class="table_book">
                <tbody>
                <if condition="$userInfo['takeaway'] neq 2">
                <tr>
                    <td width="80px" style="width:80px;">手机号码：</td>
                    <td colspan="2">{$userInfo['tel']}</td>
                </tr>
                <tr>
                    <td style="width:80px;">用户姓名：</td>
                    <td style="width:50%;">{$userInfo['name']}
                    </td>
                    <td>
                        <div class="group_checkbox" style="width:70px;display:none;">
                            <input type="checkbox" value="1" name="sex" checked="checked">
                        </div>
                    </td>
                </tr>
                </if>
                <if condition="$userInfo['takeaway'] eq 1">
                <tr id="dishaddress">
                    <td style="width:80px;">送餐地址：</td>
                    <td>{$userInfo['address']}</td>
                </tr>
                <else/>
                <tr>
                    <td style="width:80px;">就餐桌号：</td>
                    <td colspan="2">{$tableName}</td>
                </tr>
                </if>
                <if condition="$userInfo['takeaway'] neq 2">
                <tr>
                    <td style="width:80px;">就餐时间：</td>
                    <td colspan="2">{$userInfo.reservetime|date="Y-m-d H:i:s",###}
                    </td>
                </tr>
                <tr>
                    <td style="width:80px;">预定人数：</td>
                    <td colspan="2">{$userInfo.nums}
                    </td>
                </tr>
                <tr>
                    <td style="width:80px;vertical-align:top;line-height:25px;">备注说明：</td>
                    <td colspan="2">{$userInfo.des}
                    </td>
                </tr>
				</if>
            </tbody></table>
            <footer>
                <input   type="button"  value="确认预定" class="btn_2" id="submit_form">
            </footer>
        </form>
    </article>
</section>
</div>
<script>
function changeCount(thi, evt, price, id) {
    if ("button" == evt.target.type) {
        var counter = thi.querySelectorAll("input[name='numBox']")[0];
        var val = parseInt(counter.value);
        var countnums = parseInt($("#countnums").attr("nums"));
        var totalPrice = $("#total").attr("price");
        if ("btn-reduce" == evt.target.className) {
            val--;
        } else {
            val++;
        }
        counter.value = Math.max(0, val);
        if(val >= 0){
            if ("btn-reduce" == evt.target.className) {
                var num = countnums - 1;
                var tnum = -1;
                var pr =  parseFloat(totalPrice) - parseInt(price);
            } else {
                var tnum = 1;
                var num = countnums + 1;
                var pr = parseFloat(totalPrice) + parseInt(price);
            }
            $("#countnums").html(num);
            $("#countnums").attr("nums",num);
            $("#total").html(pr);
            $("#total").attr("price", pr);
        }
        editOrder(id, tnum, $('#des_' + id).val());
    }
}

function editOrder(id, num, des){
    $.ajax({
        'url':"{:U('editOrder', array('token'=>$token, 'wecha_id' => $wecha_id, 'cid' => $cid))}",
        'data':{'id':id, 'num':num, 'des':des},
        'type':'POST',
        'async':'false',
        'success':function(db){}
    });
}

$(document).ready(function(){
    var min_height = $(document).height() - 80;
    $(".container").css("height", min_height + 'px');
    $('.des').blur(function(){
		var id = parseInt($(this).attr('did'));
		var des = $(this).val();
		editOrder(id, 0, des);
    });
    $('#submit_form').click(function() {
        $("#submit_form").addClass('btn_2_disable').prop('disabled',true); 
        $.ajax({
            'url': $('#form_dish').attr('action'),
            'type': 'post',
            dataType:'JSON',
            'success': function(response) {
                if (response.success == '1') {
        			window.location = "{:U('din_myOrder', array('token'=>$token, 'wecha_id' => $wecha_id, 'cid' => $cid))}";
                } else {
                	 MDialog.alert(response.msg, '', null, '确定');
                     return false;
                }

            }
        });
    });
});
function slideOn(thi, evt) {
    var li = $(thi).closest("li");
    li["toggleClass"]("on");
}
</script>
<include file="Fanheo/fanheo_footer"/>
</body>
<script type="text/javascript">
window.shareData = {  
            "moduleName":"fanheo饭盒网-我的地址",
            "moduleID":"0",
            "imgUrl": "", 
            "timeLineLink": "{:C('site_url') .  U('mymenu',array('token' => $token, 'cid' => $cid))}",
            "sendFriendLink": "{:C('site_url') .  U('mymenu',array('token' => $token, 'cid' => $cid))}",
            "weiboLink": "{:C('site_url') .  U('mymenu',array('token' => $token, 'cid' => $cid))}",
            "tTitle": "{$metaTitle}",
            "tContent": "{$metaTitle}"
        };
</script>
{$shareScript}
</html>